doctype html
html
    head
        title= ant - vue
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rocboto:300,400,500,700,400italic")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        style.
            html {
                height: 100%;
            }

            body {
                height: 100%;
            }

            .mu-step-label {
                padding-left: 12px !important;
                padding-right: 12px !important;
            }
</style>
body
    #app
    script(src='/javascripts/build.js')
